// fonts
@use "./fonts/fonts";

// base
@use "./base/reset";
@use "./base/typography";

// helpers
@use "./helpers/vars";
@use "./helpers/mixins";
@use "./helpers/utils";
@use "./helpers/global";

// components
@use "./components/overlay";
@use "./components/burger";
@use "./components/buttons";
@use "./components/ad-banner";

@use "./components/header";
@use "./components/footer";

// Sections
@use "./sections/hero";

// Pages
@use "./pages/home";

.section {
	padding: 90px 0;

	&--space {
		display: flex;
		flex-direction: column;
		gap: 90px;

		@media screen and (max-width: 992px) {
			gap: 40px;
		}
	}

	@media screen and (max-width: 992px) {
		padding: 40px 0;
	}
}

.text-block {
	&__container {
		max-width: 886px;
		margin: 0 auto;
	}
}
.catalog {
	display: flex;
	gap: 114px;

	border-radius: 32px;
	overflow: hidden;

	background: var(--gray);

	@media screen and (max-width: 1200px) {
		flex-direction: column;
		gap: 20px;
	}

	&__img {
		@media screen and (max-width: 1200px) {
			display: none;
		}
	}

	&__content {
		width: 100%;

		padding-top: 40px;
		padding-bottom: 24px;
		padding-right: 114px;

		overflow: hidden;

		@media screen and (max-width: 1360px) {
			padding-right: 20px;
		}

		@media screen and (max-width: 1200px) {
			padding: 24px;
		}
	}

	&__links {
		margin-bottom: 40px;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;
	}

	&__link {
	}
}

.catalog-table {
	overflow-x: auto;
	&__header {
		display: grid;
		grid-template-columns: 256px 184px 180px;
		gap: 20px;
		justify-content: space-between;

		border-radius: 14px;
		padding: 14px 28px;
		background: var(--white);
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 12px;
		line-height: 1.15;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: var(--heading-dark);

		&:not(:first-child) {
			text-align: center;
		}
	}

	.product {
		&:not(:last-child) {
			border-bottom: 1px solid #dbdbdb;
		}

		&:last-child {
			.product__price {
				border-radius: 0 0 12px 12px;
			}
		}
	}
}
.product {
	padding: 0 28px;

	height: 80px;

	display: grid;
	grid-template-columns: 256px 184px 180px;
	gap: 20px;
	justify-content: space-between;

	&__left {
		height: 100%;
		display: flex;
		align-items: center;
		gap: 32px;
	}

	&__img {
		width: 32px;
		height: 32px;
		object-fit: cover;
		border-radius: 50%;
	}

	&__link {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		line-height: 1.15;
		letter-spacing: -0.02em;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--heading-dark);
	}

	&__price {
		display: flex;
		align-items: center;
		gap: 5px;
		height: 100%;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 16px;
		line-height: 1.15;
		letter-spacing: -0.02em;
		text-align: center;
		background: var(--light-green);
		color: var(--heading-dark);

		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 32px;

		strong {
			font-weight: 700;
			font-size: 20px;
		}
	}

	&__local-price {
		max-width: 180px;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;
		height: 100%;

		font-family: var(--font-family);
		line-height: 1.15;
		letter-spacing: -0.02em;

		strong {
			font-size: 20px;

			font-weight: 700;
			color: #e04f11;
		}

		font-weight: 500;
		font-size: 16px;
		color: var(--heading-dark);
	}
}

.price-badge {
	display: inline-block;
	padding: 4px 8px;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 12px;
	line-height: 1.15;
	letter-spacing: -0.02em;
	color: var(--white);
	border-radius: 6px;
	background: var(--red);
}
