<footer class="footer">
	<div class="footer__container container">
		<div class="footer__left">
			<a href="/" class="footer__logo logo">
				<img
					src="./assets/img/svg/logo.svg"
					alt="MXPharmacy logo"
					class="logo__img" />
			</a>

			<div>Edge Pharma is an FDA-registered and state-licensed.</div>

			<div>© 2024 Edge Pharma</div>
		</div>

		<div class="nav-group">
			<div class="nav-group__title">Learn More</div>
			<ul class="menu">
				<li class="menu-item">
					<a href="#">About</a>
				</li>
				<li class="menu-item">
					<a href="#">Quality</a>
				</li>
				<li class="menu-item">
					<a href="#">Products</a>
				</li>
				<li class="menu-item">
					<a href="#">Services</a>
				</li>
				<li class="menu-item">
					<a href="#">Posts</a>
				</li>
				<li class="menu-item">
					<a href="#">Contact</a>
				</li>
				<li class="menu-item">
					<a href="#">Register</a>
				</li>
				<li class="menu-item">
					<a href="#">Client Login</a>
				</li>
			</ul>
		</div>

		<div class="nav-group">
			<div class="nav-group__title">Contact Us</div>

			<ul class="menu">
				<li class="menu-item">
					<a href="tel:8029921178">Phone: 802-992-1178 </a>
				</li>
				<li class="menu-item">
					<a href="mailto:yourmail@gmail.com">Email Us </a>
				</li>
				<li class="menu-item">
					<a href="#">Careers</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
