:root {
	--font-family: "Onest", sans-serif;
	--second-family: "Open Sans", sans-serif;

	--gray-blue: #d9dbf1;
	--gray: #f6f4f6;
	--light-blue: #b9e6ff;
	--light-green: #d8e28c;
	--red: #b80c09;
	--light-red: #ff9879;
	--heading-dark: #14202e;
	--white: #fff;
	--body-grey: #5c5c5c;
	--dark-green: #134a43;
}

// screens
$xxl: 1920px;
$xl: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 480px;
